/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #ffdd57;
}

/* Biography styling */
.biography, .career, .contact {
    padding: 2rem;
    text-align: center;
}

.biography p {
    margin-top: 1rem;
    font-size: 1.1rem;
}

/* Career Table */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Contact Section */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icon {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.instagram { background-color: #E4405F; }
.twitter { background-color: #1DA1F2; }
.facebook { background-color: #4267B2; }

.icon:hover {
    transform: scale(1.1);
}

.icon.instagram:hover { background-color: #C13584; }
.icon.twitter:hover { background-color: #0a85d9; }
.icon.facebook:hover { background-color: #3b5998; }

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}


.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Animaciones para los botones */
.animado1 {
    background-color: #4CAF50;
}

.animado1:hover {
    transform: scale(1.1);
    background-color: #45a049;
}

.animado2 {
    background-color: #2196F3;
    
}

.animado2:hover {
    transform: rotate(10deg);
    background-color: #0b7dda;
}

.animado3 {
    background-color: #ff9800;
    
}

.animado3:hover {
    background-color: #e68900;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotate(20deg);
}

.animado4 {
    background-color: #f44336;
}

.animado4:hover {
    transform: translateY(-5px);
    background-color: #d32f2f;
}

.animado5 {
    background-color: #9C27B0;
}

.animado5:hover {
    background-color: #7b1fa2;
    transform: scale(1.1) rotate(5deg);
}
